/* Author  : Harshit Prashant Dhanwalkar */
/* Github  : @Harshit-Dhanwalkar */

/* Dark mode */
@define-color foreground #FFFFFF;
@define-color background rgba(0, 0, 0, 0.1);
@define-color pressed-color #000000;
@define-color tooltip-bg rgba(0, 0, 0, 0.7);

/* Light mode */
/* @define-color foreground #000000; */
/* @define-color background #c0c0c0; */
/* @define-color pressed-color #808080; */
/* @define-color tooltip-bg rgba(250, 250, 250, 0.7); */

/* Testing */
/* @define-color background #000001; */

/* Common for both modes */
@define-color foreground-warning #ff9e64;
@define-color foreground-error #bf616a;
@define-color foreground-critical #000000;
@define-color background-warning #89b4fa;
@define-color background-error #ff9e64;
@define-color background-critical #bf616a;
@define-color hover-color #b0b0b0;

@define-color blue #89b4fa;
@define-color red #bf616a;

* {
  font-family:
    "JetBrains Mono Nerd Font", "Nimbus Sans", "Symbols Nerd Font Mono",
    sans-serif, "Font Awesome 5";
  font-weight: bold;
  font-size: 11px;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  margin: 0;
  padding: 0;
  border: none;
}

window#waybar {
  color: @foreground;
  background: @background;
  border-radius: 0px;
  border-bottom: 2px solid @pressed-color;
  border-top: 2px solid white;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  color: @foreground;
  /* background: @background; */
  background: @tooltip-bg;
  border: 4px solid;
  border-color: white @pressed-color @pressed-color white;
  transition: background-color 0.2s ease;
}

tooltip label {
  font-size: 11px;
  color: @foreground;
}

#custom-swaymsg_next_empty_workspace,
#workspaces,
#temperature,
#custom-disks,
#custom-memory_usage,
#custom-weather,
#keyboard-state,
#custom-keyboard_backlight,
#custom-power,
#clock,
#custom-cava,
#tray,
#pulseaudio,
#backlight,
#cpu,
#memory,
#bluetooth,
#network,
#battery,
#taskbar,
#custom-runcat,
#custom-usb_devices,
#idle_inhibitor,
#custom-cliphist {
  transition: background-color 0.2s ease;
}

#workspaces {
  color: @foreground;
  background: @background;
  border: 0px solid;
  border-color: white @pressed-color @pressed-color white;
  margin: 0;
  padding: 0 4px;
  min-height: 11px;
}

#custom-swaymsg_next_empty_workspace,
#custom-swaymsg_next_empty_workspace button,
#workspaces button {
  color: @foreground;
  background: @background;
  border: 4px solid;
  border-color: white @pressed-color @pressed-color white;
  margin: 0;
  padding: 0 4px;
  min-height: 11px;
  /* animation: tb_normal 20s ease-in-out 1; */
  /* transition: */
  /*   border-color 0.2s ease, */
  /*   background-color 0.2s ease; */
}

#custom-swaymsg_next_empty_workspace,
#custom-swaymsg_next_empty_workspace button,
#workspaces button,
#taskbar button {
  min-width: 22px;
}

#custom-swaymsg_next_empty_workspace:hover,
#workspaces:hover {
  background-color: @hover-color;
}

#workspaces button.active {
  color: #005577;
  border-top: 2px solid #005577;
  transition: all 0.3s ease;
  transition: all 0.4s cubic-bezier(0.55, 0.68, 0.48, 1.682);
}

#workspaces button.occupied {
  color: @foreground-critical;
  background: rgba(0, 0, 0, 0);
  border-top: 2px solid @foreground-critical;
  transition: none;
}

#custom-swaymsg_next_empty_workspace button:checked,
#workspaces button.focused,
#workspaces button:checked {
  border-color: @pressed-color white white @pressed-color;
  background-color: @pressed-color;
}

#taskbar {
  font-size: 8px;
  color: @foreground;
  background-color: @background;
  border: 0px solid;
  border-color: white @pressed-color @pressed-color white;
  padding: 0;
  margin: 0;
  min-height: 11px;
  animation: tb_normal 20s ease-in-out 1;
  transition: background-color 0.2s ease;
}

#taskbar:hover {
  background-color: @hover-color;
}

#taskbar button {
  font-size: 8px;
  box-shadow: none;
  text-shadow: none;
  color: @foreground;
  background: @background;
  border: 4px solid;
  border-color: white @pressed-color @pressed-color white;
  padding: 0 4px;
  margin: 0;
  min-height: 11px;
  animation: tb_normal 20s ease-in-out 1;
  transition:
    border-color 0.1s ease,
    background-color 0.1s ease;
}

#taskbar button.active {
  border-color: @pressed-color white white @pressed-color;
  background-color: @pressed-color;
}

#tray menu * {
  min-width: 11px;
  font-size: 10px;
  color: @foreground;
  background-color: @background;
  border: 1px solid;
  border-color: white @pressed-color @pressed-color white;
  padding: 0;
  margin: 0px 2px;
  min-height: 11px;
}

#tray menu separator {
  min-height: 11px;
}

#window {
  min-width: 297px;
  font-size: 11px;
  color: @foreground;
  background-color: @background;
  border: 4px solid;
  border-color: white @pressed-color @pressed-color white;
  padding: 0;
  margin: 0;
  min-height: 11px;
}

#custom-disks,
#custom-memory_usage,
#custom-weather,
#clock,
#custom-cava,
#temperature,
#tray,
#keyboard-state,
#custom-keyboard_backlight,
#custom-power,
#pulseaudio,
#backlight,
#cpu,
#memory,
#bluetooth,
#network,
#battery,
#custom-runcat,
#custom-usb_devices,
#idle_inhibitor,
#custom-cliphist {
  /* min-width: 11px; */
  color: @foreground;
  background-color: @background;
  border: 4px solid;
  border-color: white @pressed-color @pressed-color white;
  padding: 0 4px;
  margin: 0;
  min-height: 11px;
  transition: background-color 0.2s ease;
}

#custom-swaymsg_next_empty_workspace button:hover,
#workspaces button:hover,
#temperature:hover,
#custom-disks:hover,
#custom-memory_usage:hover,
#custom-weather:hover,
#keyboard-state:hover,
#custom-keyboard_backlight:hover,
#custom-power:hover,
#clock:hover,
#custom-cava:hover,
#tray:hover,
#pulseaudio:hover,
#backlight:hover,
#cpu:hover,
#memory:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#taskbar button:hover,
#custom-runcat:hover,
#custom-usb_devices:hover,
#idle_inhibitor:hover,
#custom-cliphist:hover {
  background-color: @hover-color;
  animation: tb_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#custom-swaymsg_next_empty_workspace:hover,
#workspaces:hover,
#window:hover,
#custom-disks:hover,
#custom-memory_usage:hover,
#custom-weather:hover,
#clock:hover,
#custom-cava:hover,
#temperature:hover,
#tray:hover,
#keyboard-state:hover,
#custom-keyboard_backlight:hover,
#custom-power:hover,
#pulseaudio:hover,
#backlight:hover,
#cpu:hover,
#memory:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#taskbar:hover,
#custom-runcat:hover,
#custom-usb_devices:hover,
#idle_inhibitor:hover,
#custom-cliphist:hover {
  background-color: @hover-color;
}

#custom-keyboard_backlight.off,
#custom-keyboard_backlight,
#custom-weather,
#temperature,
#custom-cava,
#pulseaudio,
#backlight,
#cpu,
#memory,
#battery,
#custom-runcat {
  min-width: 44px;
}

#keyboard-state {
  min-width: 22px;
}

#network {
  min-width: 88px;
}

#bluetooth.disconnected,
#bluetooth.off,
#bluetooth.unconnected,
#bluetooth.disabled {
  color: @foreground-critical;
}
#bluetooth label.disconnected,
#bluetooth label.off {
  color: @foreground-critical;
}

#network.disconnected {
  color: @foreground-critical;
  background: @background-critical;
}

#battery.charging,
#battery.plugged {
  color: @foreground;
}
#battery.critical:not(.charging),
#battery.discharging {
  color: @foreground;
}

#custom-keyboard_backlight.low {
  color: @background-warning;
}

#custom-keyboard_backlight.high {
  color: @background-error;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  font-size: 12px;
  box-shadow: none;
  background: @background;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 88px;
  min-height: 10px;
  background: #343434;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 1px;
  background-color: #2096c0;
}

#custom-runcat {
  font-size: 15px;
  font-family: "runcat";
}

#custom-runcat.low {
  font-family: "runcat";
  /* color: @blue; */
  color: #2699c9;
  background: @hover-color;
  border: 4px solid;
  border-color: @pressed-color white white @pressed-color;
}

#custom-runcat.medium {
  font-family: "runcat";
  color: @foreground-warning;
  background: @hover-color;
  border: 4px solid;
  border-color: @pressed-color @foreground-warning @foreground-warning
    @pressed-color;
}

#custom-runcat.high {
  font-family: "runcat";
  color: @foreground-error;
  background: @hover-color;
  border: 4px solid;
  border-color: @pressed-color @foreground-error @foreground-error
    @pressed-color;
}

#custom-usb_devices.off {
  color: white;
}

#custom-usb_devices.low {
  color: @foreground-warning;
}

#custom-usb_devices.high {
  color: @foreground-error;
}
