* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 12px;
}

#custom-notification {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12px;
  color: #a1bdce;
  margin: 0px 0px 0px 0px;
}

window#waybar {
  /* background: #0f0f17; */
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
}

tooltip {
  background: #171717;
  color: #a1bdce;
  font-size: 4px;
  /* border-radius: 7px; */
  /* border: 2px solid #101a24; */
}
#workspaces {
  color: #888789;
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  text-shadow: none;
  border-radius: 0px;
  transition: 0.2s ease;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
}

#workspaces button {
  background: rgba(0, 0, 0, 0);
  color: #89b4fa;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0px;
  border-top: 2px solid #89b4fa;
  border-bottom: 2px solid #89b4fa;
  transition: 0.2s ease;
  padding-left: 2px;
  padding-right: 2px;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  color: #005577;
  border-radius: 2px;
  border-top: 2px solid #005577;
  border-bottom: 2px solid #005577;
  transition: all 0.3s ease;
  padding-left: 2px;
  padding-right: 2px;
  transition: all 0.4s cubic-bezier(0.55, 0.68, 0.48, 1.682);
}

#workspaces button.occupied {
  transition: none;
  color: #bf616a;
  border-top: 2px solid #bf616a;
  border-bottom: 2px solid #bf616a;
  background: transparent;
  font-size: 4px;
}

#workspaces button.focused {
  color: #ff9e64;
  border-top: 2px solid #ff9e64;
  border-bottom: 2px solid #ff9e64;
}

#workspaces button:hover {
  background: none;
  color: #9ece6a;
  border-top: 2px solid #9ece6a;
  border-bottom: 2px solid #9ece6a;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  font-size: 4px;
  padding: 0px;
  border-radius: 9px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: #000000;
  animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
  margin-left: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 3px;
  min-height: 9px;
  animation: tb_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  animation: tb_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu * {
  min-height: 16px;
  font-weight: bold;
  font-size: 13px;
  color: #0488e3;
}

#tray menu separator {
  min-height: 10px;
}

#custom-spacer {
  opacity: 0;
}
#custom-smallspacer {
  opacity: 0;
}

#custom-mouse {
  font-size: 13px;
  margin-bottom: 6px;
  background: #161320;
}

#custom-memory_usage {
  font-size: 12px;
  color: #daa520;
  background: rgba(0, 0, 0, 0);
  margin: 6px 0px 6px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#custom-power {
  font-size: 12px;
  color: #ff4c4c;
  background: rgba(0, 0, 0, 0);
  margin: 6px 0px 6px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#backlight {
  font-size: 12px;
  font-weight: normal;
  color: #cdd6f4;
  border-top: 1.9px solid #cdd6f4;
  border-bottom: 1.9px solid #cdd6f4;
  background: rgba(0, 0, 0, 0);
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#bluetooth {
  font-size: 12px;
  font-weight: normal;
  color: #0018f9;
  border-top: 1.9px solid #0018f9;
  border-bottom: 1.9px solid #0018f9;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.custom-disks {
  font-size: 12px;
  font-weight: normal;
  color: #89b4fa;
  border-top: 1.9px solid #89b4fa;
  border-bottom: 1.9px solid #89b4fa;
  background: rgba(0, 0, 0, 0);
  margin: 0px 0px 0px 0px;
  padding-right: 4px;
  padding-left: 4px;
}

#network {
  font-size: 12px;
  font-weight: normal;
  color: #89b4fa;
  border-top: 1.9px solid #89b4fa;
  border-bottom: 1.9px solid #89b4fa;
  background: rgba(0, 0, 0, 0);
  padding-right: 4px;
  padding-left: 4px;
}

#battery {
  font-size: 12px;
  font-weight: normal;
  color: #cdd6f4;
  border-top: 1.9px solid #a3be8c;
  border-bottom: 1.9px solid #a3be8c;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  margin: 0;
  padding: 0 4px;
}

#battery.charging {
  color: #a3be8c;
  border-top: 1.9px solid #a3be8c;
  border-bottom: 1.9px solid #a3be8c;
}

#battery.warning {
  color: #ff9e64;
  border-top: 1.9px solid #ff9e64;
  border-bottom: 1.9px solid #ff9e64;
}

#battery.critical {
  color: #bf616a;
  border-top: 1.9px solid #bf616a;
  border-bottom: 1.9px solid #bf616a;
}

/* Dynamic color change per 10% */
@keyframes battery-color {
  0% {
    color: #bf616a;
    border-top: 1.9px solid #bf616a;
    border-bottom: 1.9px solid #bf616a;
  } /* 0-10%: Red */
  10% {
    color: #bf616a;
    border-top: 1.9px solid #bf616a;
    border-bottom: 1.9px solid #bf616a;
  } /* 10-20%: Dark Orange */
  20% {
    color: #d08770;
    border-top: 1.9px solid #d08770;
    border-bottom: 1.9px solid #d08770;
  } /* 20-30%: Orange */
  30% {
    color: #ebcb8b;
    border-top: 1.9px solid #ebcb8b;
    border-bottom: 1.9px solid #ebcb8b;
  } /* 30-40%: Yellow */
  40% {
    color: #a3be8c;
    border-top: 1.9px solid #a3be8c;
    border-bottom: 1.9px solid #a3be8c;
  } /* 40-50%: Light Green */
  50% {
    color: #a3be8c;
    border-top: 1.9px solid #a3be8c;
    border-bottom: 1.9px solid #a3be8c;
  } /* 50-60%: Green */
  60% {
    color: #88c0d0;
    border-top: 1.9px solid #88c0d0;
    border-bottom: 1.9px solid #88c0d0;
  } /* 60-70%: Teal */
  70% {
    color: #81a1c1;
    border-top: 1.9px solid #81a1c1;
    border-bottom: 1.9px solid #81a1c1;
  } /* 70-80%: Light Blue */
  80% {
    color: #5e81ac;
    border-top: 1.9px solid #5e81ac;
    border-bottom: 1.9px solid #5e81ac;
  } /* 80-90%: Blue */
  90% {
    color: #b48ead;
    border-top: 1.9px solid #b48ead;
    border-bottom: 1.9px solid #b48ead;
  } /* 90-100%: Purple */
  100% {
    color: #b48ead;
    border-top: 1.9px solid #b48ead;
    border-bottom: 1.9px solid #b48ead;
  } /* 100%: Keep Purple */
}

#battery {
  animation: battery-color 15s infinite alternate;
}

#battery.charging,
#battery.plugged {
  color: #a6d189;
}

#battery.critical:not(.charging) {
  color: red;
  border-top: 1.9px solid #bf616a;
  border-bottom: 1.9px solid #bf616a;
}

#taskbar {
  padding: 1px;
}

#idle_inhibitor {
  color: #24966e;
  background: @bar-bg;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
  font-size: 12px;
  font-weight: 900;
  color: #cdd6f4;
  border-top: 1.9px solid #cdd6f4;
  border-bottom: 1.9px solid #cdd6f4;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#pulseaudio {
  font-weight: normal;
  font-size: 12px;
  color: #ff9e64;
  border-top: 1.9px solid #ff9e64;
  border-bottom: 1.9px solid #ff9e64;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#custom-cliphist {
  color: #e6e7e7;
  background: #161320;
  font-weight: normal;
  font-size: 12px;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#cpu {
  color: #915caf;
  font-weight: normal;
  font-size: 13px;
}

#custom-led {
  background: #427287;
  color: #ffffff;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 6px;
  border-radius: 7px;
  margin-right: 6px;
}
#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory {
  font-weight: normal;
  font-size: 13px;
  color: #e4c9af;
}
#mpris {
  color: white;
  animation: repeat;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #4a4a4a;
  }
}

#custom-notifications,
#taskbar,
#custom-theme,
#custom-menu {
  color: #e8edf0;
  background: rgba(23, 23, 23, 0);
  margin: 0px 0px 0px 0px;
  padding-left: 1px;
  padding-right: 1px;
  opacity: 0.1;
}
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window {
  color: #a1bdce;
  font-family: "Martian Mono";
}
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#upower#headset,
#upower {
  color: #a6d189;
}
#mpris {
  font-size: 13px;
  font-weight: bold;
}
#custom-rr_end {
  font-weight: normal;
  color: #e8edf0;
  background: rgba(23, 23, 23, 0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #a1bdce;
  background-color: transparent;
  box-shadow: none;
  margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096c0;
}

#custom-r_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 1px;
  padding-right: 3px;
}

#custom-l_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 1px;
  padding-left: 3px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 1px;
  padding-right: 3px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 1px;
  padding-left: 3px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 1px;
  padding-right: 3px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 1px;
  padding-left: 3px;
}

/* Style for launchers */
#custom-expand {
  min-width: 25px;
  color: #a1bdce;
  font-size: 13px;
}

#group-minimized {
  border-left: solid;
  border-left-width: 0.5;
}

/* Run Cat */
#custom-runcat {
  font-size: 16px;
  font-family: "runcat";
  color: #cdd6f4;
  border-top: 1.9px solid #cdd6f4;
  border-bottom: 1.9px solid #cdd6f4;
  margin: 0px 0px 0px 0px;
}

#custom-runcat.low {
  font-family: "runcat";
  color: #89b4fa;
  border-top: 1.9px solid #89b4fa;
  border-bottom: 1.9px solid #89b4fa;
}

#custom-runcat.medium {
  font-family: "runcat";
  color: #ff9e64;
  border-top: 1.9px solid #ff9e64;
  border-bottom: 1.9px solid #ff9e64;
}

#custom-runcat.high {
  font-family: "runcat";
  color: #bf616a;
  border-top: 1.9px solid #bf616a;
  border-bottom: 1.9px solid #bf616a;
}
