@media (prefers-color-scheme: light) {
  :root {
    --backgroundpic: url(wallpapers/FF-Blur-Light.png);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundpic: url(wallpapers/FF-Blur-Dark.png);
  }
}

@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
  body {
    background: var(--backgroundpic) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center center !important;
  }

  .search-wrapper,
  .search-handoff-button,
  .search-inner-wrapper,
  .logo-and-search,
  .search-toolbar,
  .search-wrapper .search-label {
    display: none !important;
  }

  .top-sites-list {
    margin-top: 20px !important;
  }
}
