snippet makec "Makefile for C project"
CC = gcc
CFLAGS = -Wall -Wextra -pedantic -I$($0)/
DEBUG_FLAGS = -DDEBUG -O0 -g -fsanitize=address
RELEASE_FLAGS = -DNDEBUG

LFLAGS = -L$($1)

config ?= debug

ifeq ($(config), debug)
	CFLAGS += $(DEBUG_FLAGS)
else
	CFLAGS += $(RELEASE_FLAGS)
endif

all: $2

$2:
	$(CC) main.c $(CFLAGS) $(LFLAGS) -o $2

clean:
	rm -f $2

.PHONY: all $2 clean
endsnippet

snippet makecpp "Makefile for Cpp project"
CXX = g++
CXXFLAGS = -Wall -Wextra -pedantic -std=c++23
DEBUG_FLAGS = -DDEBUG -O0 -g -fsanitize=address
RELEASE_FLAGS = -DNDEBUG -O3

LFLAGS = -L$($1)

config ?= debug

ifeq ($(config), debug)
	CXXFLAGS += $(DEBUG_FLAGS)
else
	CXXFLAGS += $(RELEASE_FLAGS)
endif

all: $2

$2:
	$(CXX) $2.cpp $(CXXFLAGS) $(LFLAGS) -o $2

clean:
	rm -f $2

.PHONY: all $2 clean
endsnippet

snippet latex "Makefile for LaTeX projects"
.PHONY: all clean

SHELL=/bin/bash
MAKEFLAGS := --jobs=4

TARGET  := ${1:document}.pdf
SRCS    := $(wildcard *.tex)
BIBS    := $(wildcard *.bib)

all: $(TARGET)

%.pdf: %.tex $(BIBS) $(SRCS)
	set -o pipefail; \
		latexmk -pdf -pdflatex="pdflatex -halt-on-error -interaction=nonstopmode -file-line-error -synctex=1" $(basename $@)  2>&1\
		| perl -nle'print if /^Latexmk: |\:\d{1,5}\:/'

clean:
	latexmk -f -c $(TARGET)
	rm -f $(TARGET)
	rm -rf *.log *.aux *.fdb_latexmk *.bbl *.dvi *.thm *.brf
	rm -rf *.synctex.gz
endsnippet

# add
snippet add
	${1:out}: $1.o
		$(CC) $(CFLAGS) -o $@ $+
endsnippet

# print
snippet print
	print-%: ; @echo $*=$($*)
endsnippet

# help target for self-documented Makefile
snippet help
	help: ## Prints help for targets with comments
		@cat $(MAKEFILE_LIST) | grep -E '^[a-zA-Z_-]+:.*?## .*$$' | awk 'BEGIN {FS = ":.*?## "}; {printf "\033[36m%-30s\033[0m %s\n", $\$1, $\$2}'
	${0}
endsnippet

# ifeq
snippet if
	ifeq (${1:cond0}, ${2:cond1})
		${0:${VISUAL}}
	endif
endsnippet

# ifeq ... else ... endif
snippet ife
	ifeq (${1:cond0}, ${2:cond1})
		${3:${VISUAL}}
	else
		${0}
	endif
endsnippet

# else ...
snippet el
	else
		${0:${VISUAL}}
endsnippet

# .DEFAULT_GOAL := target
snippet default
	.DEFAULT_GOAL := ${1}
endsnippet
