snippet sign "Signature"
Yours sincerely,

Harshit Dhanwalkar
endsnippet

snippet path "Insert the full path of the current file" b
`!p snip.rv = fn`
endsnippet

snippet today "Date"
`date +%F`
endsnippet

snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet

snippet "(?<!\w)ltx" "LaTeX symbol" r
LaTeX
endsnippet

snippet arw "Right-pointed arrow"
--> $1
endsnippet
